@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url(https://media.licdn.com/dms/image/D4E12AQHl_SVPX3ZQTA/article-cover_image-shrink_720_1280/0/1682012519095?e=2147483647&v=beta&t=o8h0B5bGyd5-UTETuEk8SHPY_TJXAnRpV2cKMcSuYJY);
    width: 70%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    position: relative;
    max-width: 400px;
    width: 100%;
    border-radius: 12px;
    padding: 15px 15px 15px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px #fff;
}

.display{
    height: 80px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 30px;
    color: #000e1a;
    pointer-events: none;
    background-color: #fff;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button{
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}
.buttons button:hover{
    background-color: rgb(95, 137, 230);
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: red;
}